NANODLNA_CONFIG_FILE=my_device_config.json
NANODLNA_HOST=0.0.0.0
NANODLNA_BACKEND_PORT=8000
NANODLNA_FRONTEND_PORT=3000
NANODLNA_FRONTEND_ENABLED=1
NANODLNA_VENV_DIR=/Users/abdulrehmanbhidya/PycharmProjects/nano-dlna/.venv
NANODLNA_MEDIA_ROOT=/Users/abdulrehmanbhidya/Movies
NANODLNA_GIT_AUTO_UPDATE=0
NANODLNA_GIT_REMOTE=origin
NANODLNA_GIT_BRANCH=main
NANODLNA_SERVICE_LABEL=com.nanodlna.dashboard.dev
NANODLNA_SERVICE_RESTART_DELAY=5
NANODLNA_INSTALL_PLAYWRIGHT=1
