<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>1ECD03F3-DEA5-F886-1756-A8E941B6A73E</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
